{% extends 'base.html.twig' %}

{% block title %}Hello ClassroomListController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		<h2>
			List des Students
		</h2>

		<table border="2">

			<tr>
				<td>
					NSC
				</td>
				<td>
					Email
				</td>
				<td>
					Classroom
				</td>
				<td>
					supprimer
				</td>
				<td>
					modifier
				</td>
				<td>
					afficher
				</td>

			</tr>

			{% for i in list %}
				<tr>
					<td>
						{{ i.nsc }}
					</td>
					<td>
						{{ i.email }}
					</td>
					<td>
						{{ i.classroom.getName()}}
					</td>
					<td>
						<form action={{ url('app_studentRemove',{'nsc':i.getNSC()} ) }}>
							<input type="submit" value="Supprimer"/>
						</form>
					</td>
					<td>
						<form action={{ url('app_studentModify',{'nsc':i.getNSC()} ) }}>
							<input type="submit" value="Modifier"/>
						</form>
					</td>
					<td>
						<form action={{ url('app_studentShow',{'nsc':i.getNSC()} ) }}>
							<input type="submit" value="Afficher"/>
						</form>
					</td>

				{% endfor %}
			</tr>
		</table>
		<br>
		<form action={{ url('app_studentAdd') }}>
			<input type="submit" value="Ajouter Student"/>
		</form>


		<form action={{ url('app_studentListFindByEmail') }}>
			<input type="text" name='x' value="Insérer"/>
			<input type="submit" value="Chercher par Email"/>
		</form>

		<form action={{ url('app_studentListOrderByNSC') }}>
			<input type="submit" value="Trier par NSC"/>
		</form>

		<form action={{ url('app_studentListOrderByEmail') }}>
			<input type="submit" value="Trier par Email"/>
		</form>

		<form action={{ url('app_studentRouteClassroom') }}>
			<input type="submit" value="Liste des Classrooms"/>
		</form>

		<form action={{ url('app_studentRouteClub') }}>
			<input type="submit" value="Liste des Clubs"/>
		</form>

	</div>
{% endblock %}
